{% extends 'base.html' %}
{% load static %}
{% block title %}Pinterest | Search{% endblock %}
{% block content %}
<section class="mt-4 mb-5">
	<div class="container mb-4">
		<h1 class="font-weight-bold title mb-5">Pins</h1>
		{% if not data %}
		<hr>
		<h5 class="font-weight-bold title mb-5">Pins not found with {{ request.GET.search_input }} Category</h5>
		{% endif %}
	</div>
	{% if data %}
	<div class="container-fluid mt-5">
		<div class="row">
			<div class="card-columns">
				{% for pin in data %}
				<div class="card card-pin" data-href="{% url 'pins:detail_pin' pin.id %}" style="cursor: pointer;">
					<img class="card-img" src="{{ pin.pin_file.url }}" alt="Card image">
					<div class="card-title centered">{{ pin.title }}</div>
					<div class="bottom-right">
						{% if user.is_authenticated %}
						{% if pin.is_liked %}<a href="{% url 'pins:like_unlike_pin' pin.id %}" style="color: #e60023;"><i class="fa fa-heart" style="font-size:20px"></i></a>
						{% else %}<a href="{% url 'pins:like_unlike_pin' pin.id %}" style="color: white;"><i class="fa fa-heart-o" style="font-size:20px"></i></a>{% endif %}
						{% if pin.is_saved %}<a href="{% url 'pins:save_unsave_pin' pin.id %}" style="color: white;"><i class="fa fa-bookmark" style="font-size:24px"></i></a>
						{% else %}<a href="{% url 'pins:save_unsave_pin' pin.id %}" style="color: white;"><i class="fa fa-bookmark-o" style="font-size:24px"></i></a>{% endif %}
						{% endif %}
					</div>
					{% if user.is_authenticated %}
					<div class="top-right">
						{% with pin_id=pin.id boards=user.boards.all %}{% include 'includes/board_dropdown.html' %}{% endwith %}
					</div>
					{% endif %}
					<div class="bottom-left">
						{% if pin.user.user_profile.profile_picture %}
						<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img class="rounded-circle mr-2" src="{{ pin.user.user_profile.profile_picture.url }}" width="40" height="40"><span class="align-middle">{{pin.user.username}}</span></a>
						{% else %}
						<a href="{% url 'users:user_profile' pin.user.id %}" style="color: white;"><img class="rounded-circle mr-2" src="{% static 'img/av.png' %}" width="40" height="40"><span class="align-middle">{{pin.user.username}}</span></a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
</section>
{% endblock %}
