CYCLONE_ENV=prod
SECRET_KEY=your-secret-key-here
DB_NAME=pinterestdb
DB_USER=pinterestuser
DB_PASSWORD=strongpassword
DB_HOST=your-rds-endpoint.rds.amazonaws.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=pinterest-clone-media
AWS_S3_REGION_NAME=ap-south-1
EMAIL_HOST_USER=your@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password